*.sublime-*

.env
.wrangler/
.dev.vars
node_modules/

# The Svelte build output goes here
client/public/

# The file that contains the released git hash of the release; used for both
# the front and back ends
commitReference.js

# Backup databases
/data/
